body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: #C4A783;
  color: #333;
}

header {
  background: #4d5c43;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 2rem 1rem;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.passo {
  margin-bottom: 1.5rem;
  text-align: center;
}

.passo h2 {
  color: #0d47a1;
  font-size: 1.3rem;
}

.mensagem {
  margin-bottom: 1.5rem;
  text-align: center;
}

.passo p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.video {
  margin-top: 2rem;
  text-align: center;
}

.video iframe {
  width: 100%;
  height: 315px;
  border: none;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: rgb(238, 238, 238);
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.5rem;
  }
}

.passo-um {
  height: 400px;
  display: block;
  margin: 0 auto 10px auto;
}

.passo-dois {
  height: 400px;
  display: block;
  margin: 0 auto 10px auto;
}

.passo-tres {
  height: 400px;
  display: block;
  margin: 0 auto 10px auto;
}

.passo-quatro {
  height: 400px;
  display: block;
  margin: 0 auto 10px auto;
}

.passo-cinco {
  height: 400px;
  display: block;
  margin: 0 auto 10px auto;
}

.passo-seis {
  height: 400px;
  display: block;
  margin: 0 auto 10px auto;
}

.head-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.mascote {
  height: 60px;
}